/.idea/.idea.CodingChallenge/.idea/.gitignore
/.idea/.idea.CodingChallenge/.idea/indexLayout.xml
/.idea/.idea.CodingChallenge/.idea/material_theme_project_new.xml
/.idea/.idea.CodingChallenge/.idea/vcs.xml
/.idea/config/applicationhost.config
/.idea/easycode.ignore
